<h1><%= @book.title %></h1>

<label>By: </label><%= link_to @book.author.name, author_path(@book.author) %><br><br>

<label>Genre: </label><%= link_to @book.genre.name, genre_path(@book.genre) %><br><br>

<label>Price: </label><%= number_to_currency(@book.price.to_f/100) %><br><br>

<% if user_signed_in? %>
  <% if !current_user.admin? %>
    <button class="addCart" data-bookId="<%= @book.id %>">Add To Cart</button>
  <% end %>
  <% if current_user.admin? %>
    <br><br>
    <label>Inventory: </label><%= @book.inventory %><br><br>
    <%= link_to "Edit Book", edit_book_path(@book) %><br>
    <%= link_to "Delete Book", book_path(@book), method: 'DELETE' %>
  <% end %>
<% end %>
