<h1>Welcome to Booktopia!</h1>
<br>

<h2><strong>Latest Books!</strong></h2>
<table border="1" style="width: 50%">
  <thead>
    <tr>
      <th style="color: red">Title</th>
      <th style="color: blue">Author</th>
      <th style="color: green">Genre</th>
      <th>Price</th>
      <% if user_signed_in? %>
      <th>Buy?</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% Book.all.order(id: :desc).limit(10).each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= link_to book.author.name, author_path(book.author) %></td>
        <td><%= link_to book.genre.name, genre_path(book.genre) %></td>
        <td><%= number_to_currency(book.price/100) %></td>
        <% if user_signed_in? %>
        <td><%= button_to "Add to cart", cart_books_path(book_id: book) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
